body {
  background: #A7DFD9;
  margin: 24px;
}


.timer {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: sans-serif;
  display: inline-block;
  padding: 15px 20px;
  /* padding: 24px 32px; */
  border-radius: 20px;
  background: rgba(221, 246, 240, 1);
  color: #224D54; 
  width: 270px;
  height: 80px;
}

.timer__part {
  font-size: 36px;
  font-weight: bold;
}

.timer__btn {
  width: 50px;
  height: 50px;
  margin-left: 8px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #EA40A4;
  cursor: pointer;
}

.timer__btn--start {
  background: #ff5b57;
}

.timer__btn--stop {
  background: #ff8d8b;
}
